<H1><center>EE 658/758 Machine Learning in Engineering</center></H1>
<H2><center>Assignment #3: Logistic Regression</center></H2>
<H2><center>Due date: Monday, february 28, 2022</center></H2>

<H3>For this assignment, you are asked to implement the logistic regression algorithm for classifying data. 
The data is in the file "adult-dataset.csv". It was extracted from the census bureau database, found at: 
    http://www.census.gov/ftp/pub/DES/www/welcome.html
<P>
The features collected about the adult individuals consists of the list below. For each feature, the possible values
that can be assigned are listed along side each feature.
</P>
"Income" is the dependent variable that we will be trying to predict as to whether an individual has an income
greater than $50,000 a year or not, based on the features of the individual.
<P>

We want to use the Scikit-Learn library to classify the data, as ndicated in the cells below.</H3>
<P>
<H4>
The list of features are:<BR>
<P>
 1- <B>age</B>: continuous<BR>
 
<P>
 2- workclass:<BR>
	Private<BR>
	Self-emp-not-inc<BR>
	Self-emp-inc<BR>
	Federal-gov<BR>
	Local-gov<BR>
	State-gov<BR>
	Without-pay<BR>
	Never-worked<BR>
    
<P>
 3- education: <BR>
	Bachelors, <BR>
	Some-college, <BR>
	11th, <BR>
	HS-grad, <BR>
	Prof-school, <BR>
	Assoc-acdm, <BR>
	Assoc-voc, <BR>
	9th, <BR>
	7th-8th, <BR>
	12th, <BR>
	Masters, <BR>
	1st-4th, <BR>
	10th, <BR>
	Doctorate, <BR>
	5th-6th, <BR>
	Preschool <BR> 
<P>
 4- marital-status: <BR>
	Married-civ-spouse,<BR>
	Divorced,<BR>
	Never-married,<BR>
	Separated,<BR>
	Widowed,<BR>
	Married-spouse-absent,<BR>
	Married-AF-spouse <BR>
<P>
 5- occupation: <BR>
	Tech-support, <BR>
	Craft-repair, <BR>
	Other-service, <BR>
	Sales, <BR>
	Exec-managerial, <BR>
	Prof-specialty, <BR>
	Handlers-cleaners, <BR>
	Machine-op-inspct, <BR>
	Adm-clerical, <BR>
	Farming-fishing, <BR>
	Transport-moving, <BR>
	Priv-house-serv, <BR>
	Protective-serv, <BR>
	Armed-Forces<BR>
 <P>
 6- race: <BR>
	White, <BR>
	Asian-Pac-Islander, <BR>
	Amer-Indian-Eskimo, <BR>
	Black, <BR>
	Other <BR>
 <P>
 7- sex: <BR>
	Female, <BR>
	Male <BR>
    <P>
 8- hours-per-week: continuous<BR>
 <P>
 9- native-country: <BR>
	United-States,<BR>
	Cambodia,<BR>
	England,<BR>
	Puerto-Rico,<BR>
	Canada,<BR>
	Germany,<BR>
	Outlying-US(Guam-USVI-etc),<BR>
	India,<BR>
	Japan,<BR>
	Greece,<BR>
	South,<BR>
	China,<BR>
	Cuba,<BR>
	Iran,<BR>
	Honduras,<BR>
	Philippines,<BR>
	Italy,<BR>
	Poland,<BR>
	Jamaica,<BR>
	Vietnam,<BR>
	Mexico,<BR>
	Portugal,<BR>
	Ireland,<BR>
	France,<BR>
	Dominican-Republic,<BR>
	Laos,<BR>
	Ecuador,<BR>
	Taiwan,<BR>
	Haiti,<BR>
	Columbia,<BR>
	Hungary,<BR>
	Guatemala,<BR>
	Nicaragua,<BR>
	Scotland,<BR>
	Thailand,<BR>
	Yugoslavia,<BR>
	El-Salvador,<BR>
	Trinadad&Tobago,<BR>
	Peru,<BR>
	Hong,<BR>
	Holand-Netherlands<BR>
 <P>
 10- Income:<BR>
	<=50K,<BR>
	>50K <BR>
 <P>

### 1. Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

### 2. Read data from the CSV file

In [2]:
data_path = r"C:\Users\schmi\EE658\EE658-Machine-Learning\Logistic Regression\adult-dataset.csv"
df= pd.read_csv(data_path)

### 3. Explore the data

In [3]:
df.head(10)

,age,workClass,Education,marital-status,occupation,race,sex,hours-per-week,Native Country,Income
0,25,Private,11th,Never-married,Machine-op-inspct,Black,Male,40,United-States,<=50K.
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,White,Male,50,United-States,<=50K.
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,White,Male,40,United-States,>50K.
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,Male,40,United-States,>50K.
4,34,Private,10th,Never-married,Other-service,White,Male,30,United-States,<=50K.
5,63,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,White,Male,32,United-States,>50K.
6,24,Private,Some-college,Never-married,Other-service,White,Female,40,United-States,<=50K.
7,55,Private,7th-8th,Married-civ-spouse,Craft-repair,White,Male,10,United-States,<=50K.
8,65,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,40,United-States,>50K.
9,36,Federal-gov,Bachelors,Married-civ-spouse,Adm-clerical,White,Male,40,United-States,<=50K.

### 4. print out the unique (distinct) values for each of the attributes

In [4]:
#print out some info to learn about the column information
df.info()
objectColumns = df.dtypes[df.dtypes == object]
text_to_num = list(objectColumns.index)
print(text_to_num)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             15060 non-null  int64
 1   workClass       15060 non-null  object
 2   Education       15060 non-null  object
 3   marital-status  15060 non-null  object
 4   occupation      15060 non-null  object
 5   race            15060 non-null  object
 6   sex             15060 non-null  object
 7   hours-per-week  15060 non-null  int64
 8   Native Country  15060 non-null  object
 9   Income          15060 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.1+ MB
['workClass', 'Education', 'marital-status', 'occupation', 'race', 'sex', 'Native Country', 'Income']

In [5]:
#play around with the notes from class
df['Education'].nunique()
print(df['Education'].unique())

sample = text_to_num[2]
print(sample)
print(df[sample])

[' 11th' ' HS-grad' ' Assoc-acdm' ' Some-college' ' 10th' ' Prof-school'
 ' 7th-8th' ' Bachelors' ' Masters' ' 5th-6th' ' Assoc-voc' ' 9th'
 ' Doctorate' ' 12th' ' 1st-4th' ' Preschool']
marital-status
0              Never-married
1         Married-civ-spouse
2         Married-civ-spouse
3         Married-civ-spouse
4              Never-married
                ...
15055          Never-married
15056               Divorced
15057     Married-civ-spouse
15058               Divorced
15059     Married-civ-spouse
Name: marital-status, Length: 15060, dtype: object

In [6]:
for i in range(len(text_to_num)):
    col_name = text_to_num[i]
    print("\nthere are " + str(df[col_name].nunique()) +" different types in the column "+ col_name +":\n")
    print(df[col_name].unique())

there are 7 different types in the column workClass:

[' Private' ' Local-gov' ' Self-emp-not-inc' ' Federal-gov' ' State-gov'
 ' Self-emp-inc' ' Without-pay']

there are 16 different types in the column Education:

[' 11th' ' HS-grad' ' Assoc-acdm' ' Some-college' ' 10th' ' Prof-school'
 ' 7th-8th' ' Bachelors' ' Masters' ' 5th-6th' ' Assoc-voc' ' 9th'
 ' Doctorate' ' 12th' ' 1st-4th' ' Preschool']

there are 7 different types in the column marital-status:

[' Never-married' ' Married-civ-spouse' ' Widowed' ' Separated'
 ' Divorced' ' Married-spouse-absent' ' Married-AF-spouse']

there are 14 different types in the column occupation:

[' Machine-op-inspct' ' Farming-fishing' ' Protective-serv'
 ' Other-service' ' Prof-specialty' ' Craft-repair' ' Adm-clerical'
 ' Exec-managerial' ' Tech-support' ' Sales' ' Priv-house-serv'
 ' Transport-moving' ' Handlers-cleaners' ' Armed-Forces']

there are 5 different types in the column race:

[' Black' ' White' ' Other' ' Amer-Indian-Eskimo' ' Asian-Pac-Islander']

there are 2 different types in the column sex:

[' Male' ' Female']

there are 40 different types in the column Native Country:

[' United-States' ' Peru' ' Guatemala' ' Mexico' ' Dominican-Republic'
 ' Ireland' ' Germany' ' Philippines' ' Thailand' ' Haiti' ' El-Salvador'
 ' Puerto-Rico' ' Vietnam' ' South' ' Columbia' ' Japan' ' India'
 ' Cambodia' ' Poland' ' Laos' ' England' ' Cuba' ' Taiwan' ' Italy'
 ' Canada' ' Portugal' ' China' ' Nicaragua' ' Honduras' ' Iran'
 ' Scotland' ' Jamaica' ' Ecuador' ' Yugoslavia' ' Hungary' ' Hong'
 ' Greece' ' Trinadad&Tobago' ' Outlying-US(Guam-USVI-etc)' ' France']

there are 2 different types in the column Income:

[' <=50K.' ' >50K.']

### 5. Replace the attributes with categorical values by columns (one per value)

In [7]:
New_df = pd.get_dummies(df,columns=text_to_num)
New_df.head()

,age,hours-per-week,workClass_ Federal-gov,workClass_ Local-gov,workClass_ Private,workClass_ Self-emp-inc,workClass_ Self-emp-not-inc,workClass_ State-gov,workClass_ Without-pay,Education_ 10th,...,Native Country_ Scotland,Native Country_ South,Native Country_ Taiwan,Native Country_ Thailand,Native Country_ Trinadad&Tobago,Native Country_ United-States,Native Country_ Vietnam,Native Country_ Yugoslavia,Income_ <=50K.,Income_ >50K.
0,25,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,38,50,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,28,40,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,44,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,34,30,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

### 6. Define your X and y Dataframes

In [13]:
#we are trying to predict income based on all the other factors
X = New_df.copy()
#X.info()
X.head(5)
X.drop(X.filter(regex='Income').columns, axis=1, inplace=True)
X.head(5)

,age,hours-per-week,workClass_ Federal-gov,workClass_ Local-gov,workClass_ Private,workClass_ Self-emp-inc,workClass_ Self-emp-not-inc,workClass_ State-gov,workClass_ Without-pay,Education_ 10th,...,Native Country_ Portugal,Native Country_ Puerto-Rico,Native Country_ Scotland,Native Country_ South,Native Country_ Taiwan,Native Country_ Thailand,Native Country_ Trinadad&Tobago,Native Country_ United-States,Native Country_ Vietnam,Native Country_ Yugoslavia
0,25,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,50,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,40,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,40,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,34,30,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [24]:
y = New_df.filter(regex='Income')
print(y.head())
y.drop(y.columns[-1], axis=1, inplace=True)
print(y.head())

   Income_ <=50K.  Income_ >50K.
0               1              0
1               1              0
2               0              1
3               0              1
4               1              0
   Income_ <=50K.
0               1
1               1
2               0
3               0
4               1

C:\Users\schmi\AppData\Local\Temp/ipykernel_20916/1817038431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.drop(y.columns[-1], axis=1, inplace=True)

### 7. Normalize the data

In [57]:
normalized data in the iris dataset practice?
normalized_X=(X-X.min())/(X.max()-X.min())
print(normalized_X.head())

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#Xstd = scaler.fit_transform(X)
#print(Xstd[:2])

Object `practice` not found.
        age  hours-per-week  workClass_ Federal-gov  workClass_ Local-gov  \
0  0.109589        0.397959                     0.0                   0.0
1  0.287671        0.500000                     0.0                   0.0
2  0.150685        0.397959                     0.0                   1.0
3  0.369863        0.397959                     0.0                   0.0
4  0.232877        0.295918                     0.0                   0.0

   workClass_ Private  workClass_ Self-emp-inc  workClass_ Self-emp-not-inc  \
0                 1.0                      0.0                          0.0
1                 1.0                      0.0                          0.0
2                 0.0                      0.0                          0.0
3                 1.0                      0.0                          0.0
4                 1.0                      0.0                          0.0

   workClass_ State-gov  workClass_ Without-pay  Education_ 10th  ...  \
0                   0.0                     0.0              0.0  ...
1                   0.0                     0.0              0.0  ...
2                   0.0                     0.0              0.0  ...
3                   0.0                     0.0              0.0  ...
4                   0.0                     0.0              1.0  ...

   Native Country_ Portugal  Native Country_ Puerto-Rico  \
0                       0.0                          0.0
1                       0.0                          0.0
2                       0.0                          0.0
3                       0.0                          0.0
4                       0.0                          0.0

   Native Country_ Scotland  Native Country_ South  Native Country_ Taiwan  \
0                       0.0                    0.0                     0.0
1                       0.0                    0.0                     0.0
2                       0.0                    0.0                     0.0
3                       0.0                    0.0                     0.0
4                       0.0                    0.0                     0.0

   Native Country_ Thailand  Native Country_ Trinadad&Tobago  \
0                       0.0                              0.0
1                       0.0                              0.0
2                       0.0                              0.0
3                       0.0                              0.0
4                       0.0                              0.0

   Native Country_ United-States  Native Country_ Vietnam  \
0                            1.0                      0.0
1                            1.0                      0.0
2                            1.0                      0.0
3                            1.0                      0.0
4                            1.0                      0.0

   Native Country_ Yugoslavia
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

[5 rows x 93 columns]

In [58]:
income = New_df["Income_ <=50K."]
y = income.copy()
print(y)

0        1
1        1
2        0
3        0
4        1
        ..
15055    1
15056    1
15057    1
15058    1
15059    0
Name: Income_ <=50K., Length: 15060, dtype: uint8

### 8. Split the data into testing and training subsets

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size=0.3, random_state=45)

### 9. Train a One-Versus-One logistic regression model on the normalized training data

In [60]:
from sklearn.multiclass import OneVsOneClassifier
from sklearn.svm import LinearSVC

In [61]:
ovoc=OneVsOneClassifier(LinearSVC(max_iter=2000, random_state=2))
ovoc.fit(X_train,y_train)

OneVsOneClassifier(estimator=LinearSVC(max_iter=2000, random_state=2))

In [62]:
ovocPred = ovoc.predict(X_test)

### 10. Compute the Confusion Matrix, using the One-Versus-One model and the testing data set

In [63]:
from sklearn import metrics
cmOVO= metrics.confusion_matrix(y_test, ovocPred)
print(cmOVO)

[[ 608  500]
 [ 266 3144]]

### 11. Train a One-Vs-Rest logistic regression model on the normalized training data

In [65]:
from sklearn.linear_model import LogisticRegression
ovr = LogisticRegression(random_state=15, multi_class='ovr', solver='lbfgs')
ovr.fit(X_train, y_train)

C:\Users\schmi\anaconda3\envs\hpenv\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(multi_class='ovr', random_state=15)

In [66]:
ovrPred = ovr.predict(X_test)

### 12. Compute the Confusion Matrix, using then One-Vs-Rest model and the testing data set

In [68]:
cmOVR= metrics.confusion_matrix(y_test, ovrPred)
print(cmOVR)

[[ 603  505]
 [ 262 3148]]

### 13. Compare the results of the One-Versus-One and One-Vs-Rest models

### 14. Compute the following metrics for the One-Vs-Rest model:
- Accuracy
- Error
- Sensitivity
- False Positive
- Specificity
- Precision
- Prevalence
- F1 Score

### 15. Make up 2 instances of input data.Use both models to predict the classification of each data

## END