In [3]:
#import libararies and pull in dataset as a dataframe
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data_path = r"C:\Users\schmi\EE658\EE658-Machine-Learning\Neural Networks\Assignment 3\healthcare-dataset-stroke-data.csv"
df= pd.read_csv(data_path)

In [10]:
#_________________DATA EXPLORATION ___________________#
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [11]:
df.info()
# we can see that bmi is the only category that containing null entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [12]:
#find the unique values - basically all of the object type
objectColumns = df.dtypes[df.dtypes == object]
text_to_num = list(objectColumns.index)
for i in range(len(text_to_num)):
    col_name = text_to_num[i]
    print("\nthere are " + str(df[col_name].nunique()) +" different types in the column "+ col_name +":\n")
    print(df[col_name].unique())

there are 3 different types in the column gender:

['Male' 'Female' 'Other']

there are 2 different types in the column ever_married:

['Yes' 'No']

there are 5 different types in the column work_type:

['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']

there are 2 different types in the column Residence_type:

['Urban' 'Rural']

there are 4 different types in the column smoking_status:

['formerly smoked' 'never smoked' 'smokes' 'Unknown']

In [13]:
# find the number of times each value is used

In [ ]:
# plot a bar chart showing frequency of each value

In [ ]:
# for each condinuous numerical value -- show a histogram of the values

In [ ]:
# for each feature in the data find the number of missing values

In [ ]:
#_________________DATA PREPARATION______________________#

In [ ]:
#for each missing or unuseable value -- pseudocode stragegy and implement

In [14]:
#split test and training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y_50, test_size=0.3, random_state=45, stratify=y)

ImportError: cannot import name 'train_test_split' from 'sklearn' (C:\Users\schmi\anaconda3\envs\hpenv\lib\site-packages\sklearn\__init__.py)

In [ ]:
#normalize data

In [ ]:
#_____________________Model Generation_________#

In [ ]:
#use perceptron in scikit learn to create model

In [ ]:
#display confusion matrix and classification results

In [ ]:
#use two layer neural net -- FROM NOTES -- to predict ---- 

# experiment with number of neurons in hidden layer 
# display confusion matrix and classification results

In [ ]:
#use logisticRegression to create model and display a confusion matrix

In [ ]:
#compare the 3 models -- 1) perceptron 2) 2 layer NN 3) logistic regression